---
import Layout from "../layouts/Layout.astro"
import DevlogList from "../components/DevlogList.astro"
import { getCollection } from "astro:content";

const devlogs = await getCollection("devlogs")
---
<Layout title="Devlogs" opacity="10">
        <main class="py-5 lg:py-10 relative min-h-screen w-full">
                <DevlogList devlogs={devlogs}/>
        </main>
</Layout>
