---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Pepino's skillset">
    <div class="rounded-full w-40 h-40 bg-gray-950 border-2 border-zinc-400">

    </div>
</Layout>