---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
import SkillTile from "../components/SkillTile.astro";
---

<Layout title="Pepino's skillset">
    <main class="z-10 pl-25">
        <section id="skillbanners">
            <h1 class="text-5xl font-bold bg-linear-to-r my-12 from-blue-700 via-orange-700 to-pink-700 bg-clip-text text-transparent w-50 h-15">Skill list:</h1>
            <ul class="flex gap-x-8 list-none">
                <SkillTile/>
            </ul>
        </section>
    </main>
</Layout>