---
import "../styles/global.css"
import background from "../assets/background2.svg"

---

<div id="container" class="bg-gray-900">
    <img id="background" src={background.src} alt="" fetchpriority="high" class="blur-3xl">
</div>