---
import type { CollectionEntry } from "astro:content";
import Devlog from "./Devlog.astro";
type Props = {
    devlogs: CollectionEntry<"devlogs">[];
};

const { devlogs } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-x-16 gap-y-14 mb-24 w-full] ml-10 mr-10">
    {devlogs.map((devlog) => <Devlog devlog={devlog} />)}
</div>
